/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* Settings */

:root {
  --clr-teal: #00c1de;
  --clr-red:#c23b33;
  --clr-orange:#ff7841;
  --clr-purple:#967deb;
  --clr-dark:#35373a;
  --clr-mid-dark:#464b53;
  --clr-mid:#ededed;
  --clr-off-white:#f9f1e6;
  --clr-light:#ffffff;
  --font-base:"Sora", sans-serif;
  --font-light:300;
  --font-regular:400;
  --font-semiBold:600;
  --font-bold:700;

 /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1240,18,1.14,10,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Step -3: 11.2373px → 12.1495px */
  --step--3: clamp(0.7023rem, 0.6825rem + 0.0991vi, 0.7593rem);
  /* Step -2: 12.642px → 13.8504px */
  --step--2: clamp(0.7901rem, 0.7639rem + 0.1314vi, 0.8657rem);
  /* Step -1: 14.2222px → 15.7895px */
  --step--1: clamp(0.8889rem, 0.8548rem + 0.1704vi, 0.9868rem);
  /* Step 0: 16px → 18px */
  --step-0: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  /* Step 1: 18px → 20.52px */
  --step-1: clamp(1.125rem, 1.0702rem + 0.2739vi, 1.2825rem);
  /* Step 2: 20.25px → 23.3928px */
  --step-2: clamp(1.2656rem, 1.1973rem + 0.3416vi, 1.4621rem);
  /* Step 3: 22.7813px → 26.6678px */
  --step-3: clamp(1.4238rem, 1.3393rem + 0.4225vi, 1.6667rem);
  /* Step 4: 25.6289px → 30.4013px */
  --step-4: clamp(1.6018rem, 1.4981rem + 0.5187vi, 1.9001rem);
  /* Step 5: 28.8325px → 34.6575px */
  --step-5: clamp(1.802rem, 1.6754rem + 0.6331vi, 2.1661rem);
  /* Step 6: 32.4366px → 39.5095px */
  --step-6: clamp(2.0273rem, 1.8735rem + 0.7688vi, 2.4693rem);
  /* Step 7: 36.4912px → 45.0408px */
  --step-7: clamp(2.2807rem, 2.0948rem + 0.9293vi, 2.8151rem);
  /* Step 8: 41.0526px → 51.3466px */
  --step-8: clamp(2.5658rem, 2.342rem + 1.1189vi, 3.2092rem);
  /* Step 9: 46.1841px → 58.5351px */
  --step-9: clamp(2.8865rem, 2.618rem + 1.3425vi, 3.6584rem);
  /* Step 10: 51.9571px → 66.73px */
  --step-10: clamp(3.2473rem, 2.9262rem + 1.6057vi, 4.1706rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1240,18,1.14,10,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

   /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
  /* Space 2xs: 8px → 9px */
  --space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vi, 0.5625rem);
  /* Space xs: 12px → 14px */
  --space-xs: clamp(0.75rem, 0.7065rem + 0.2174vi, 0.875rem);
  /* Space s: 16px → 18px */
  --space-s: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  /* Space m: 24px → 27px */
  --space-m: clamp(1.5rem, 1.4348rem + 0.3261vi, 1.6875rem);
  /* Space l: 32px → 36px */
  --space-l: clamp(2rem, 1.913rem + 0.4348vi, 2.25rem);
  /* Space xl: 48px → 54px */
  --space-xl: clamp(3rem, 2.8696rem + 0.6522vi, 3.375rem);
  /* Space 2xl: 64px → 72px */
  --space-2xl: clamp(4rem, 3.8261rem + 0.8696vi, 4.5rem);
  /* Space 3xl: 96px → 108px */
  --space-3xl: clamp(6rem, 5.7391rem + 1.3043vi, 6.75rem);

}

body {
  font-family: var(--font-base);
  font-weight: var(--font-light);
  font-size: var(--step-0);
  margin: 0;
}
h1, h2,
h3, h4 {
  font-weight: var(--font-semiBold) ;
}

/* Utility Class */
.wrapper {
  width: clamp(16rem,93vw,80rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(1.09rem,1rem + 0.47vw,1.33rem);
  padding-right: clamp(1.09rem,1rem + 0.47vw,1.33rem);
  position: relative;
}
.flex {
  display: flex;
}
.flex\:wrap {
  flex-wrap: wrap;
}
.flex\:column {
  flex-direction: column;
}
.align-items\:center {
  align-items:center;
}
.justify-items\:center {
  justify-items: center;
}
.justify-content\:space-between {
  justify-content: space-between;
}
.justify-content\:center {
  justify-content: center;
}
.grid {
  display: grid;
}
.grid-three-columns {
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
}
.list-style\:none {
list-style: none;
}
.light {
  font-weight: var(--font-light);
}
.regular {
  font-weight: var(--font-regular);
}
.bold {
  font-weight: var(--font-bold);
}
.semiBold {
  font-weight: var(--font-semiBold);
}
.text-step--3 {
  font-size: var(--step--3);
}
.text-step--2 {
  font-size: var(--step--2);
}
.text-step--1 {
  font-size: var(--step--1);
}
.text-step-0 {
  font-size: var(--step-0);
}
.text-step-1 {
  font-size: var(--step-1);
}
.text-step-2 {
  font-size: var(--step-2);
}
.text-step-3 {
  font-size: var(--step-3);
}
.text-step-4 {
  font-size: var(--step-4);
}
.text-step-5 {
  font-size: var(--step-5);
}
.text-step-6 {
  font-size: var(--step-6);
}
.text-step-7 {
  font-size: var(--step-7);
}
.text-step-8 {
  font-size: var(--step-8);
}
.text-step-9 {
  font-size: var(--step-9);
}
.text-step-10 {
  font-size: var(--step-10);
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.center {
  box-sizing: content-box;
  max-inline-size: 56ch;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pos-relative {
  position: relative;
}
.color-teal {
  color: var(--clr-teal);
}
.color-off-white {
  color: var(--clr-off-white);
}
.color-light {
  color: var(--clr-light);
}
.color-mid-dark {
  color: var(--clr-mid-dark);
}
.color-purple {
  color: var(--clr-purple);
}
.color-dark {
  color: var(--clr-dark);
}
.bg-teal {
  background-color: var(--clr-teal);
}
.bg-orange {
  background-color: var(--clr-orange);
}
.bg-purple {
  background-color: var(--clr-purple);
}
.bg-red {
  background-color: var(--clr-red);
}
.bg-mid {
  background-color: var(--clr-mid);
}
.bg-light {
  background-color: var(--clr-light);
}
.bg-mid-dark {
  background-color: var(--clr-mid-dark);
}
.bg-dark {
  background-color: var(--clr-dark);
}
.border-radius\:10 {
  border-radius: .625rem;
}
.border-radius\:24 {
  border-radius: 1.5rem;
}
/* Spacing */
.mb-start-3xs {
  margin-block-start: var(--space-3xs) !important;
}
.mb-start-2xs {
  margin-block-start: var(--space-2xs) !important;
}
.mb-start-xs {
  margin-block-start: var(--space-xs) !important;
}
.mb-start-s {
  margin-block-start: var(--space-s) !important;
}
.mb-start-m {
  margin-block-start: var(--space-m) !important;
}
.mb-start-l {
  margin-block-start: var(--space-l) !important;
}
.mb-start-xl {
  margin-block-start: var(--space-xl) !important;
}
.mb-start-2xl {
  margin-block-start: var(--space-2xl) !important;
}
.mb-start-3xl {
  margin-block-start: var(--space-3xl) !important;
}
.mb-end-3xs {
  margin-block-end: var(--space-3xs) !important;
}
.mb-end-2xs {
  margin-block-end: var(--space-2xs) !important;
}
.mb-end-xs {
  margin-block-end: var(--space-xs) !important;
}
.mb-end-s {
  margin-block-end: var(--space-s) !important;
}
.mb-end-m {
  margin-block-end: var(--space-m) !important;
}
.mb-end-l {
  margin-block-end: var(--space-l) !important;
}
.mb-end-xl {
  margin-block-end: var(--space-xl) !important;
}
.mb-end-2xl {
  margin-block-end: var(--space-2xl) !important;
}
.mb-end-3xl {
  margin-block-end: var(--space-3xl) !important;
}
.mb-3xs {
  margin-block: var(--space-3xs) !important;
}
.mb-2xs {
  margin-block: var(--space-2xs) !important;
}
.mb-xs {
  margin-block: var(--space-xs) !important;
}
.mb-s {
  margin-block: var(--space-s) !important;
}
.mb-m {
  margin-block: var(--space-m) !important;
}
.mb-l {
  margin-block: var(--space-l) !important;
}
.mb-xl {
  margin-block: var(--space-xl) !important;
}
.mb-2xl {
  margin-block: var(--space-2xl) !important;
}
.mb-3xl {
  margin-block: var(--space-3xl) !important;
}
.mi-3xs {
  margin-inline: var(--space-3xs) !important;
}
.mi-2xs {
  margin-inline: var(--space-2xs) !important;
}
.mi-xs {
  margin-inline: var(--space-xs) !important;
}
.mi-s {
  margin-inline: var(--space-s) !important;
}
.mi-m {
  margin-inline: var(--space-m) !important;
}
.mi-l {
  margin-inline: var(--space-l) !important;
}
.mi-xl {
  margin-inline: var(--space-xl) !important;
}
.mi-2xl {
  margin-inline: var(--space-2xl) !important;
}
.mi-3xl {
  margin-inline: var(--space-3xl) !important;
}
.margin-top\:auto {
  margin-top: auto !important;
}
.mb-start-0 {
  margin-block-start:0 !important;
}
.pb-start-xl {
  padding-block-start: var(--space-xl) !important;
}
.pb-end-xl {
  padding-block-end: var(--space-xl) !important;
}
.pb-end-2xl {
  padding-block-end: var(--space-2xl) !important;
}
.pb-3xs {
  padding-block: var(--space-3xs) !important;
}
.pb-2xs {
  padding-block: var(--space-2xs) !important;
}
.pb-xs {
  padding-block: var(--space-xs) !important;
}
.pb-s {
  padding-block: var(--space-s) !important;
}
.pb-m {
  padding-block: var(--space-m) !important;
}
.pb-l {
  padding-block: var(--space-l) !important;
}
.pb-xl {
  padding-block: var(--space-xl) !important;
}
.pb-2xl {
  padding-block: var(--space-2xl) !important;
}
.pb-3xl {
  padding-block: var(--space-3xl) !important;
}
.pi-3xs {
  padding-inline: var(--space-3xs) !important;
}
.pi-2xs {
  padding-inline: var(--space-2xs) !important;
}
.pi-xs {
  padding-inline: var(--space-xs) !important;
}
.pi-s {
  padding-inline: var(--space-s) !important;
}
.pi-m {
  padding-inline: var(--space-m) !important;
}
.pi-l {
  padding-inline: var(--space-l) !important;
}
.pi-xl {
  padding-inline: var(--space-xl) !important;
}
.pi-2xl {
  padding-inline: var(--space-2xl) !important;
}
.pi-3xl {
  padding-inline: var(--space-3xl) !important;
}
.h\:max-content {
  height: max-content;
}
/* GAP */
.gap-s {
  gap: var(--space-s) !important;
}
.gap-m {
  gap: var(--space-m) !important;
}
.gap-l {
  gap: var(--space-l) !important;
}
.gap-xl {
  gap: var(--space-3xl) !important;
}
.gap-2xl {
  gap: var(--space-3xl) !important;
}
.gap-3xl {
  gap: var(--space-3xl) !important;
}
/* Stack */
.stack {
  display: flex;
  flex-direction: column;
}
.stack\:3xs > * + * {
  margin-block-start: var(--space-3xs);
}
.stack\:2xs > * + * {
  margin-block-start: var(--space-2xs);
}
.stack\:xs > * + * {
  margin-block-start: var(--space-xs);
}
.stack\:s > * + * {
  margin-block-start: var(--space-s);
}
.stack\:m > * + * {
  margin-block-start: var(--space-m);
}
.stack\:l > * + * {
  margin-block-start: var(--space-l);
}
.stack\:l > * + * {
  margin-block-start: var(--space-l);
}
.stack\:xl > * + * {
  margin-block-start: var(--space-xl);
}
/* Site Head */
.site-head__inner {
  padding-block: 30px 45px;
}
.nav {
  gap: 0 1rem;
}
.nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: var(--step--2);
}
.cta-nav {
  padding-inline:0.8rem;
  padding-block:0.6rem;
}
/* Buttons  */
.btn {
  display: inline-block;
  font-size: var(--step-0);
  text-decoration: none;
  padding-block: 5px;
  padding-inline:16px;
  transition: all .2s ease-in;
  max-inline-size:max-content;
}
.btn\:teal {
  color: var(--clr-teal);
  border: 2px solid var(--clr-teal);
}
.btn\:teal:is(:hover,:focus) {
  background-color: var(--clr-teal);
  color: var(--clr-light);
}
.btn\:dark {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  border: 2px solid var(--clr-dark);
}
/* Boxes */
.box[data-theme="teal"] {
  background-color: var(--clr-teal);
}
.box[data-theme="purple"] {
  background-color: var(--clr-purple);
}
.box[data-theme="orange"] {
  background-color: var(--clr-orange);
}
.box[data-theme="red"] {
  background-color: var(--clr-red);
}
/* Banner */
.banner-webinar {
  overflow: hidden;
}
.banner-webinar .wrapper {
  z-index: 3;
}
.banner-webinar::after {
  content: "";
  position: absolute;
  width: 504px;
  height: 501px;
  top: -67%;
  left: 3%;
  background-image: url(img/stamp.webp);
  background-position: left center;
  background-repeat: no-repeat;
  z-index: 1;
}
.banner-webinar .grid {
  padding-block: var(--space-m);
}
.grid-webinar {
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
}
.cta-webinar {
  text-decoration: none;
  padding-inline: var(--space-xs);
  padding-block: var(--space-2xs);
}
.text-ident\:100 {
  text-indent: 16.625rem;
}
/* Accordion */
.grid-accordion  {
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
}
.accordion-title {
  position: relative;
  cursor: pointer;
}
.accordion-title .arrow {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 29px;
  height: 29px;
  border: 3px solid var(--clr-teal);
  border-radius: 50%;
  flex-shrink: 0;
  margin-inline-start: var(--space-3xs);
  margin-inline-end: var(--space-m);
}
.accordion-item.open .accordion-title .arrow,
.accordion-item:hover .accordion-title .arrow {
  border: 2px solid var(--clr-light);
}
.accordion-title .arrow::after {
  border-style: solid;
  border-width: .1875rem .1875rem 0 0;
  border-color: var(--clr-teal);
  content: " ";
  display: inline-block;
  height: .8125rem;
  width: .8125rem;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  margin-top: .1875rem;
}
.accordion-item.open .accordion-title .arrow::after,
.accordion-item:hover .accordion-title .arrow::after {
  border-color: var(--clr-light);
}
.accordion-item.open .accordion-title .arrow::after {
  transform: rotate(-45deg);
  margin-top: .5625rem;
}
.accordion-item {
  border: .125rem solid var(--clr-teal);
  border-radius: .625rem;
  overflow: hidden;
  transition: all 0.2s linear;
}
.accordion-title h3 {
  font-size: var(--step-0);
  width: 100%;
  text-align: center;
  margin-block: var(--space-m);
  padding-inline-start:var(--space-m);
}

.accordion-item:hover,
.accordion-item.open {
  color: var(--clr-light);
  background-color: var(--clr-teal);
}
.accordion-content {
  height: 0;
  transition: all 0.2s linear;
  font-size: var(--step--1);
  margin-block-start: 0;
  padding-inline:var(--space-m);
}
.accordion-content p:last-child {
  padding-block-end: var(--space-l);
}
/* Table */
table {
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  caption-side: top;
  border-collapse: collapse;
}
table > :not(caption) > * > * {
  padding: 1.2rem 2.4rem;
  color: var(--clr-mid-dark);
  border:1px solid #bfbfbf;
  text-align: center;
}
table > tbody > tr:nth-of-type(2n+1) > * {
  background-color: #faf8fe;
}
table > tbody tr td:first-child {
  font-weight: var(--font-semiBold);
  text-align: left;
}
/* Bundles */
.grid-pricing {
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
}
.grid-pricing .cta {
  text-decoration: none;
  padding-block:var(--space-2xs);
}
.grid-pricing .box {
  padding-block:2.8125rem;
  padding-inline:2.8125rem;
}
.mark {
  padding: 0;
  list-style: none;
}
.mark li::before {
  content: url(img/mark.svg);
  padding-inline-end: .6rem;  
}
/* Advantage */
.grid-two-columns {
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}
.advantage .box {
  padding-inline:var(--space-xl);
  padding-block: var(--space-l);
  overflow: hidden;
}
.advantage .box {
  background-image: url(img/circle.svg);
  background-size: 600px 600px;
  background-repeat: no-repeat;
}
.advantage .box[data-theme="orange"] {
  background-position: left 100px;
}
.advantage .box[data-theme="purple"] {
  background-position: left 100px;
}
/* Schedules */
.grid-schedule {
  grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
}
.schedule .box {
  padding-block:var(--space-m);
  padding-inline:var(--space-m);
}
.timeline {
  position: absolute;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--clr-light);
}
.circle {
  position: absolute;
  width: 1.0625rem;
  height: 1.0625rem;
  background-color: var(--clr-light);
  border-radius: 50%;
  top: 1.375rem;
}
.schedule .arrow {
  position: absolute;
  top: -0.375rem;
  right: 0;
  border: solid var(--clr-light);
  border-width: 0 .125rem .125rem 0;
  display: inline-block;
  padding: .3125rem;
  transform: rotate(-45deg);
}
.box[data-theme="purple"] .timeline,
.box[data-theme="orange"] .timeline {
  left: 0;
}
.box[data-theme="red"] .timeline{
  right: var(--space-xl);
}
/* Upgrade */
.upgrade .box {
  padding-block: var(--space-l);
  padding-inline:var(--space-l)
}
/* Footer */
.footer-inner {
  padding-block:var(--space-l);
}
.footer-outer {
  padding-block: 1.875rem 3.75rem;
}
footer h3 {
  font-size: var(--step-1);
  font-weight: var(--font-light);
  line-height: 2.25rem;
}
.grid-footer {
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: var(--space-m);
}
@media (min-width: 992px) { 
  .grid-footer {
    grid-template-columns: 1.3fr 0.8fr 0.8fr 0.5fr;
    gap: var(--space-l);
  }
}
.footer-nav {
  padding-inline-start: 0;
}
.footer-nav li {
  border-bottom: 1px solid #5f6266;
  padding-block-end: var(--space-3xs);
}
.footer-nav a {
  text-decoration: none;
}
.footer-nav a:is(:hover,:focus) {
  color: var(--clr-light);
}




